/*=================== buttons =================*/


.ic-btn {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
    color: $color-blue;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: $color-yellow;
    padding: 13px 38px;
    position: relative;
    z-index: 9;
    border: 0;
    outline: 0;

    @media #{$max767} {
        font-size: 13px;
        padding: 13px 25px;
    }
    
    @media #{$max575} {
        font-size: 12px;
        padding: 12px 20px;
    }

    &:hover {
        color: $color-blue;
        background-color: darken($color-yellow, 5%);
    }
}

// .ic-btn-fill {
//     position: relative;
//     height: 48px;
//     min-width: 132px;
//     line-height: 48px;
//     font-family: $font-medium;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 48px;
//     text-align: center;
//     text-transform: uppercase;
//     letter-spacing: 0.1em;
//     @include border-radius(24px);
//     Padding: 0px 20px;
//     @include transition(0.4s);    
//     display: inline-block;
//     border: 0;
//     outline: 0;
//     letter-spacing: 1px;    
//     overflow: hidden;
//     z-index: 1;
//     &:focus {
//         outline: none;
//     } 

//     span {
//         position: absolute;
//         display: inline-block;
//         width: 0;
//         height: 0;
//         @include transform(-50%, -50%);
//         z-index: -1;
//         @include border-radius(24px);
//         opacity: 1;        
//         @include transition(0.4s);         
//         top: 50%;
//         left: 50%; 
//     }

//     &:hover {  
//         span {
//             width: 100%;
//             height: 100%;
//         }
//     }
// }




// ====================================================
// ================== button center ===================
// ====================================================

.ic-view-all {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
