/**Default Padding**/


.ic-mb-0 {
    margin-bottom: 0;
}

.ic-pt-120 {
    padding-top: 120px;

    @media #{$max1199} {
        padding-top: 50px;
    }

    @media #{$max991} {
        padding-top: 40px;
    }
}

.ic-pt-100 {
    padding-top: 100px;

    @media #{$max1199} {
        padding-top: 50px;
    }

    @media #{$max991} {
        padding-top: 40px;
    }
}


.ic-pt-80 {
    padding-top: 80px;

    @media #{$max991} {
        padding-top: 40px;
    }
}

.ic-pt-70 {
    padding-top: 70px;

    @media #{$max991} {
        padding-top: 35px;
    }
}

.ic-pt-60 {
    padding-top: 60px;

    @media #{$max991} {
        padding-top: 30px;
    }
}

.ic-pt-50 {
    padding-top: 50px;

    @media #{$max991} {
        padding-top: 25px;
    }
}

.ic-pt-40 {
    padding-top: 40px;

    @media #{$max991} {
        padding-top: 20px;
    }
}

.ic-pt-30 {
    padding-top: 30px;

    @media #{$max991} {
        padding-top: 20px;
    }
}

.ic-pt-26 {
    padding-top: 26px;

    @media #{$max991} {
        padding-top: 20px;
    }
}

.ic-pb-120 {
    padding-bottom: 120px;

    @media #{$max1199} {
        padding-bottom: 50px;
    }

    @media #{$max991} {
        padding-bottom: 40px;
    }
}

.ic-pb-100 {
    padding-bottom: 100px;

    @media #{$max1199} {
        padding-bottom: 50px;
    }

    @media #{$max991} {
        padding-bottom: 40px;
    }
}

.ic-pb-80 {
    padding-bottom: 80px;

    @media #{$max991} {
        padding-bottom: 40px;
    }
}

.ic-pb-70 {
    padding-bottom: 70px;

    @media #{$max991} {
        padding-bottom: 35px;
    }
}

.ic-pb-60 {
    padding-bottom: 60px;

    @media #{$max991} {
        padding-bottom: 30px;
    }
}

.ic-pb-50 {
    padding-bottom: 50px;

    @media #{$max991} {
        padding-bottom: 25px;
    }
}

.ic-pb-40 {
    padding-bottom: 40px;

    @media #{$max991} {
        padding-bottom: 20px;
    }
}

.ic-pb-30 {
    padding-bottom: 30px;

    @media #{$max991} {
        padding-bottom: 20px;
    }
}

.ic-pb-26 {
    padding-bottom: 26px;

    @media #{$max991} {
        padding-bottom: 20px;
    }
}


/**Default margin**/




.ic-mt-80 {
    margin-top: 80px;

    @media #{$max991} {
        margin-top: 40px;
    }
}

.ic-mt-70 {
    margin-top: 70px;

    @media #{$max991} {
        margin-top: 35px;
    }
}

.ic-mt-60 {
    margin-top: 60px;

    @media #{$max991} {
        margin-top: 30px;
    }
}

.ic-mt-50 {
    margin-top: 50px;

    @media #{$max991} {
        margin-top: 25px;
    }
}

.ic-mt-40 {
    margin-top: 40px;

    @media #{$max991} {
        margin-top: 20px;
    }
}


.ic-mt-30 {
    margin-top: 30px;

    @media #{$max991} {
        margin-top: 20px;
    }
}



.ic-mb-90 {
    margin-bottom: 90px;

    @media #{$max1199} {
        margin-bottom: 50px;
    }

    @media #{$max991} {
        margin-bottom: 40px;
    }
}

.ic-mb-90 {
    margin-bottom: 90px;

    @media #{$max1199} {
        margin-bottom: 50px;
    }

    @media #{$max991} {
        margin-bottom: 40px;
    }
}



.ic-mb-80 {
    margin-bottom: 80px;

    @media #{$max991} {
        margin-bottom: 40px;
    }
}



.ic-mb-70 {
    margin-bottom: 70px;

    @media #{$max991} {
        margin-bottom: 35px;
    }
}

.ic-mb-60 {
    margin-bottom: 60px;

    @media #{$max991} {
        margin-bottom: 30px;
    }
}

.ic-mb-54 {
    margin-bottom: 54px;

    @media #{$max991} {
        margin-bottom: 25px;
    }
}

.ic-mb-50 {
    margin-bottom: 50px;

    @media #{$max991} {
        margin-bottom: 25px;
    }
}

.ic-mb-44 {
    margin-bottom: 44px;

    @media #{$max991} {
        margin-bottom: 20px;
    }
}

.ic-mb-40 {
    margin-bottom: 40px;

    @media #{$max991} {
        margin-bottom: 20px;
    }
}

.ic-mb-30 {
    margin-bottom: 30px;

    @media #{$max991} {
        margin-bottom: 20px;
    }
}

.ic-mb-32 {
    margin-bottom: 32px;

    @media #{$max991} {
        margin-bottom: 21px;
    }
}

.ic-mb-24 {
    margin-bottom: 24px;

    @media #{$max991} {
        margin-bottom: 16px;
    }
}

.ic-mb-20 {
    margin-bottom: 20px;

    @media #{$max991} {
        margin-bottom: 16px;
    }
}